// Sizes
$baseFontSize: 1.25rem;
$h1Size: 6rem;

//Spaces
$spacing10: 0.5rem;
$spacing20: 0.75rem;
$spacing30: 1rem;
$spacing50: 2rem;

// Colors
$text: rgb(245, 245, 245);
$primary: rgb(255, 235, 21);
$pageColor: rgb(215, 0, 0);

// Fonts
$brandFont: "MetalMania";
